* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          font-family: 'Roboto', sans-serif;

}

h1{
/*font-size: 16rem;*/
font-size: 30vh;
  font-weight: 700;
}
h2{
  font-size: 15vh;
  font-weight: 700;
}
h3{
  font-size: 7.5vh;
  font-weight: 700;
}


.container .temp span{
  font-size: 30vh;
  font-weight: 500;
  padding-left: 3vh;
}

body {
  height: 100vh;
  color: #E5E5E5;
  background-color: #101010;
  display: flex;
}

.container{
  margin: auto;
  height: 60%;
  width: 80%;
}


.container .temp{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .timezone{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2vh;
}

.container .summary{
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.dark-mode{
  position: fixed;
  top: 1vh;
  right: 1vh;
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
  h1{
    font-size: 20vh;
  }
  .container .temp span{
    font-size:20vh;
  }
  h2{
    font-size: 5vh;
  }
  h3{
    font-size: 3.25vh;
    
  }
}